name: CI
# Workflow file for windows
on:
  push:
    branches:
      - master
  pull_request: {}

env:
  CMAKE_BUILD_TYPE: Release
  CMAKE_GENERATOR: Ninja
  
jobs:
  Windows:
    name: build-windows
    runs-on: windows-latest
    timeout-minutes: 15


    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: >-
          mingw-w64-x86_64-cmake
          mingw-w64-x86_64-ninja
          
    - name: Put MSYS2_MinGW64 on PATH
      # there is not yet an environment variable for this path from msys2/setup-msys2
      run: echo "${{ runner.temp }}/msys64/mingw64/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Checkout
      uses: actions/checkout@v1
      with:
          submodules: recursive

    - name: CMake configure
      run: cmake -B build

    - name: CMake build
      run: cmake --build build
      
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v3
